@page {
    size: 210mm 297mm;
    margin: 10mm 10mm 10mm 10mm;
  }
  
  ::ng-deep .skin-blue .wrapper{
    background-color: white;
  }
  
  
  
  ::ng-deep body {
    direction: rtl;
    font-family: 'Simplified Arabic';
    font-size: 1.2em;
    font-weight: normal;
  }
  
  ::ng-deep h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  ::ng-deep table {
    border-collapse: collapse;
    width: 100%;
  }
  
  ::ng-deep table tr th {
    font-size: 1.2em;
    text-align: center;
  }
  
  ::ng-deep table tr td {
    font-size: 1.2em;
  }
  
  ::ng-deep table.items tr th {
    table-layout: fixed;
    border: 2px solid #474342;
  }
  
  ::ng-deep table.items {
    border: 2px solid #474342;
  }
  
  ::ng-deep table.items tr td {
    border: 1px solid #474342;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  ::ng-deep table.version {
    margin-top: 3mm;
  }
  
  ::ng-deep table.version tr td {
    font-size: 0.625em;
    border-top: 1px solid #474342;
  }